body, html {
  background-color: lightgray;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 100vh;
  overflow: hidden;
}

html {
  border: 4px solid black;
}

#submit_form {
  float: left;
  width: 38%;
  height: 96vh;
  overflow: hidden;
}


#map {
  float: right;
  margin: 0px;
  height: 96vh;
  width: 74%;
  overflow: hidden;
}
