body {
  background-color: lightgray;
}


#submit_form {
  float: left;
  width: 42%;
  height: 20px;
  overflow: hidden;
}


#map {
  float: right;
  margin: 0px;
  height: 810px;;
  width: 68%;
  overflow: hidden;
}
