body {
  margin: 2px;
  margin-left: 2px;
  margin-right: 2px;
  height: 98vh;
}

html {
  background-color: rgb(64, 219, 183);
  margin: 2px;
  border: 4px solid black;
}

#submit_form {
  float: left;
  width: 40%;
  height: 90vh;
}

#map {
  float: right;
  height: 100vh;
  width: 74%;
}
