body {
  background-color: lightgray;
}


#submit_form {
  float: left;
  width: 32%;
  overflow: hidden;
}


#map {
  float: right;
  margin: 0px;
  height: 840px;;
  width: 68%;
  overflow: hidden;
}
